.button {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 100%;
  // padding: 0;
  background-color: @basic_green;
  color: @basic_white;
  text-transform: uppercase;
  // text-align: center;
  border: none;
}

@media (max-width: @tablet-width) {
  .button {
    width: 100%;
  }
}
