.extra-item__name {
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

.extra-item__link {
  color: @special_dark-grey-2;
}

.extra-item__properties {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: @special_dark-grey;
}
