// .food-programs {
// }
// .food-programs__wrapper {
// }

.food-programs__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.food-programs__list-wrapper {
  display: flex;
  flex-direction: column;
}

.food-programs__item {
  box-sizing: border-box;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  color: @basic_black;
  background-color: @basic_grey;

  @media (min-width:@tablet-width) {
    height: 372px;
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 33px;
    padding-left: 53px;
  }
}

.food-programs__item-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.food-programs__item-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: @basic_green;
  // margin-right: 20px;
}

.food-programs__title {
  margin: 0;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-top: 25px;
  }
}

.food-programs__description {
  margin: 0;
  padding-top: 23px;
  padding-bottom: 22px;
  color: @special_dark-grey;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  // min-width: 100%;
  border-bottom: 1px solid @border_grey;

  @media (min-width:@tablet-width) {
    border: none;
    padding-top: 26px;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
  }
}

.food-programs__button {
  position: relative;
  margin: 20px 0;
  padding-right: 50px;
  line-height: 16px;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: 10px;
    border: 6px solid transparent;
    border-left-color: @basic_black;
    border-right: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    right: 15px;
    top: 5px;
    background-color: @basic_black;
  }

  @media (min-width:@tablet-width) {
    width: 165px;
    margin-top: 30px;
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 30px;
    &::before {
      right: 63px;
      top: 13px;
    }
    &::after {
      right: 60px;
      top: 8px;
    }
  }
}

@media (min-width: @tablet-width) and (max-width: @desktop-width) {
  .food-programs__item-wrapper {
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows: 1fr min-content 1fr;
    align-items: center;
  }

  .food-programs__item-image {
    grid-column: 2/ span 1;
    grid-row: 1/ span 3;
    justify-self: center;
    align-self: center;
    order: 2;
    margin-right: 30px;
    // margin: auto;
    width: 200px;
    height: 200px;
  }

  .food-programs__item--pro p {

    padding-right: 40px;
  }
}

@media (min-width: @desktop-width) {
  .food-programs__list-wrapper {
    flex-direction: row;
  }

  .food-programs__item-image {
    width: 100px;
    height: 100px;
  }
}
