.page__body {

  font-family: "Oswald", "Verdana", sans-serif;
  background-color: @basic_white;
  color: @basic_black;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.page__body-container {
  min-width: @mobile-width;
  max-width: @desktop-width;
  margin: 0 auto;
}

// .page__form-header {
//   font-size: 36px;
//   line-height: 36px;
//   font-weight: normal;
// }

.page__form-header-description {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
}

// .page__catalog-header {
//   font-size: 36px;
//   line-height: 36px;
//   font-weight: normal;
// }
