// .page-header {
//   background-color: transparent;


// }
.page-header--main {
   @media (min-width:@desktop-width) {
    color: @basic_white;
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    // flex-direction: row;
  }
}

.page-header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page-header__nav-toggle {
  margin-right: 3px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
