// .page-header {
//   background-color: transparent;


// }
.page-header--main {
  @media (min-width:@desktop-width) {
    position: relative;
    color: @basic_white;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
      height: 694px;
      z-index: -1;
      // background-color: @basic_green;
      background-color: #64a73d;
    }

    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
      height: 694px;
      z-index: 0;
      background-position: right bottom;
      background-image: url(../../img/index-header-background-desktop.jpg);
      background-repeat: no-repeat;
      // background-size: auto;
    }
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
    padding: 0 30px;
    min-width: 60px;
  }

  @media (min-width:@desktop-width) {
    width: @desktop-width;
    padding: 0 110px;
    margin: 0 auto;
    padding-top: 52px;
  }

}

.page-header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // width: auto;



  @media (max-width:@mobile-width-only) {
    min-height: 60px;
    padding: 0 20px;
    min-height: 66px;
    border-bottom: 1px solid @border_grey-2;
  }
}

.page-header__logo {
  margin-right: -15px;
  width: 34px;
  height: 38px;
  background-image: url(../../img/logo-mobile.svg);

  @media (min-width:@tablet-width) {
    margin: 0;
    width: 174px;
    height: 52px;
    background-image: url(../../img/logo-tablet.svg);
  }

  @media (min-width:@desktop-width) {
    width: 202px;
    height: 59px;
    background-image: url(../../img/logo-desktop.svg);
  }
}

.page-header__programm {
  @media (min-width:@tablet-width) {
    display: none;
  }
}

.page-header__nav-toggle {
  width: 18px;
  height: 18px;
  margin-right: 3px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
