// @import url("social.less");
// @import url("copyright.less");


@special_dark-grey-3: #111111;
@special_dark_grey: #444444;


.page-footer {
  &__header {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__contacts {
    color: @special_dark-grey-3;
    font-size: 16px;
    line-height: 18px;

  }

  &__contacts-text {
    color: @special_dark_grey ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;

  }

}
