.page-footer {

  &--form,
  &--catalog {
    background-color: @basic_grey;
  }
}

.page-footer__header {
  color: @special_black;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}

.page-footer__contacts-text {
  color: @special_dark-grey ;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.page-footer__map {
  height: 362px;
  background-color: @basic_grey;
}

.page-footer__container {
  display: flex;
  flex-direction: column;

  @media (min-width:@tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  align-self: center;
}

.page-footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (min-width:@tablet-width) {
    justify-content: flex-end;
  }
}
