@basic_green: #68B738;
@basic_white: #ffffff;
@basic_black: #000000;
.product {
  background-color: fade(@basic_green,85%);
  font-family: "Oswald", sans-serif;
  color: @basic_white;
  font-weight: normal;
  &__tagline{
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
  }
  &__tagline-description {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;

  }
}
