@background-special_grey_sample: #eaeaea;
@special_dark_grey: #444444;

.sample {
  background-color: @background-special_grey_sample;

  &__header {
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;

  }

  &__story {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
  }

  &__number {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__description {
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    color: @special_dark_grey;
  }

}
