.sample {
  position: relative;
  margin-top: 22px;
  padding-top: 28px;
  background-color: @basic_grey-2;
}

@media (min-width:@desktop-width) {
  .sample::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 30%;
    background-color: @basic_white;
  }
}

.sample__header {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

}

.sample__story {
  margin-top: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.sample__stats-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 25px;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 436px;
    // gap: 42px;
  }
}

.sample__cost-container {
  margin-left: auto;
  text-align: center;
  min-width: 100%;

  @media (min-width:@tablet-width) {
    text-align: right;
    flex-grow: 0;
    min-width: 0;
    width: 180px;
  }

  @media (min-width:@desktop-width) {
    display: contents;
    text-align: left;
  }
}

.sample__value-container {
  position: relative;
  width: 124px;
  z-index: 5;
}

.sample__value-container::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 124px;
  height: 56px;
  border: 1px solid @border_grey-3;
  border-radius: 3px;
  z-index: 1;
}

.sample__value {
  margin: 0;
  margin-top: 15px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.sample__value-description {
  // margin: 0, auto;
  margin-top: 8px;
  padding: 0 10px;
  // width: 87px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: @special_dark-grey;
  text-align: center;
  background-color: tomato;
  z-index: 10;
}

.sample__cost {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width:@tablet-width) {
    font-size: 20px;
  }

  &-2 {
    padding-left: 20px;
  }
}
