.work-method {
  margin-top: 27px;
}

.work-method__list {
  padding: 0;
  margin: 0;
  margin-top: 38px;
  list-style: none;
}

.work-method__list-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width:@tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width:@desktop-width) {
    flex-wrap: nowrap;
  }
}

.work-method__header {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.work-method__item {
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  min-height: 60px;
  padding-left: 80px;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    left: 0px;
    background-color: @basic_green;
  }

  @media (min-width:@tablet-width) {
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    width: 230px;
  }
}

.work-method__item-description {
  margin: 0;
  color: @special_dark-grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
